@import "variable";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

//flex based css
%flex, .flex {
  display: flex;
}

%items-center, .items-center {
  align-items: center;
}

%items-end, .items-end {
  align-items: flex-end;
}

%items-start, .items-start {
  align-items: flex-start;
}

%justify-center, .justify-center {
  justify-content: center;
}

%justify-end, .justify-end {
  justify-content: flex-end;
}

%justify-start, .justify-start {
  justify-content: flex-start;
}


%justify-between, .justify-between {
  justify-content: space-between;
}

%justify-around, .justify-around {
  justify-content: space-around;
}

%justify-evenly, .justify-evenly {
  justify-content: space-evenly;
}


%self-center, .self-center {
  align-self: center;
}

%self-end, .self-end {
  align-self: flex-end;
}

%self-start, .self-start {
  align-self: flex-start;
}


%wrap, .wrap {
  flex-wrap: wrap;
}

%no-wrap, .no-wrap {
  flex-wrap: nowrap;
}

%flex-1, .flex-1 {
  flex: 1;
}

%flex-centered, .flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%column, .column {
  flex-direction: column;
}


// 4,8,16,24,32

//paddings

.pa-xs {
  padding: $xs;
}


.pa-sm {
  padding: $sm;
}


.pa-md {
  padding: $md;
}


.pa-lg {
  padding: $lg;
}


.pa-xl {
  padding: $xl;
}

.pa-none {
  padding: 0 !important;
}

//padding-top
.pt-xs {
  padding-top: $xs;
}


.pt-sm {
  padding-top: $sm;
}


.pt-md {
  padding-top: $md;
}


.pt-lg {
  padding-top: $lg;
}


.pt-xl {
  padding-top: $xl;
}

.pt-none {
  padding-top: 0 !important;
}

//padding-right
.pr-xs {
  padding-right: $xs;
}


.pr-sm {
  padding-right: $sm;
}


.pr-md {
  padding-right: $md;
}


.pr-lg {
  padding-right: $lg;
}


.pr-xl {
  padding-right: $xl;
}

.pr-none {
  padding-right: 0 !important;
}

//padding-left
.pl-xs {
  padding-left: $xs;
}


.pl-sm {
  padding-left: $sm;
}


.pl-md {
  padding-left: $md;
}


.pl-lg {
  padding-left: $lg;
}


.pl-xl {
  padding-left: $xl;
}

.pl-none {
  padding-left: 0 !important;
}

//padding-bottom
.pb-xs {
  padding-bottom: $xs;
}


.pb-sm {
  padding-bottom: $sm;
}


.pb-md {
  padding-bottom: $md;
}


.pb-lg {
  padding-bottom: $lg;
}


.pb-xl {
  padding-bottom: $xl;
}

.pb-none {
  padding-bottom: 0 !important;
}

//padding-x
.px-xs {
  padding-right: $xs;
  padding-left: $xs;
}


.px-sm {
  padding-right: $sm;
  padding-left: $sm;
}


.px-md {
  padding-right: $md;
  padding-left: $md;
}


.px-lg {
  padding-right: $lg;
  padding-left: $lg;
}


.px-xl {
  padding-right: $xl;
  padding-left: $xl;
}

.px-none {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

//padding-y
.py-xs {
  padding-top: $xs;
  padding-bottom: $xs;
}


.py-sm {
  padding-top: $sm;
  padding-bottom: $sm;
}


.py-md {
  padding-top: $md;
  padding-bottom: $md;
}


.py-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}


.py-xl {
  padding-top: $xl;
  padding-bottom: $xl;
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

//margin


.ma-xs {
  margin: $xs;
}


.ma-sm {
  margin: $sm;
}


.ma-md {
  margin: $md;
}


.ma-lg {
  margin: $lg;
}


.ma-xl {
  margin: $xl;
}

.ma-none {
  margin: 0 !important;
}

//padding-top

.ma-none {
  margin: 0 !important;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-xs {
  margin-top: $xs;
}


.mt-sm {
  margin-top: $sm;
}


.mt-md {
  margin-top: $md;
}


.mt-lg {
  margin-top: $lg;
}


.mt-xl {
  margin-top: $xl;
}

.mt-none {
  margin-top: 0 !important;
}

//padding-right
.mr-xs {
  margin-right: $xs;
}


.mr-sm {
  margin-right: $sm;
}


.mr-md {
  margin-right: $md;
}


.mr-lg {
  margin-right: $lg;
}


.mr-xl {
  margin-left: $xl;
}

.mr-none {
  margin-left: 0 !important;
}

//padding-left
.ml-xs {
  margin-left: $xs;
}


.ml-sm {
  margin-left: $sm;
}


.ml-md {
  margin-left: $md;
}


.ml-lg {
  margin-left: $lg;
}


.ml-xl {
  margin-left: $xl;
}

.ml-none {
  margin-left: 0 !important;
}

//padding-bottom
.mb-xs {
  margin-bottom: $xs;
}


.mb-sm {
  margin-bottom: $sm;
}


.mb-md {
  margin-bottom: $md;
}


.mb-lg {
  margin-bottom: $lg;
}


.mb-xl {
  margin-bottom: $xl;
}

.mb-none {
  margin-bottom: 0 !important;
}


//padding-x
.mx-xs {
  margin-right: $xs;
  margin-left: $xs;
}


.mx-sm {
  margin-right: $sm;
  margin-left: $sm;
}


.mx-md {
  margin-right: $md;
  margin-left: $md;
}


.mx-lg {
  margin-right: $lg;
  margin-left: $lg;
}


.mx-xl {
  margin-right: $xl;
  margin-left: $xl;
}

.mx-none {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

//padding-y
.my-xs {
  margin-top: $xs;
  margin-bottom: $xs;
}


.my-sm {
  margin-top: $sm;
  margin-bottom: $sm;
}


.my-md {
  margin-top: $md;
  margin-bottom: $md;
}


.my-lg {
  margin-top: $lg;
  margin-bottom: $lg;
}


.my-xl {
  margin-top: $xl;
  margin-bottom: $xl;
}

.my-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

//rows and columns
.row {
  display: flex;
  flex-wrap: wrap;
}

.fullscreen {
  height: 100vh;
  width: 100%;
}

.full-width {
  width: 100%;
}


.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}

.half-width {
  width: 50%;
}

//overflow
.auto-scroll {
  overflow: auto;
}

.x-auto-scroll {
  overflow-x: auto;
}

.y-auto-scroll {
  overflow-y: auto;
}


//wrapper padding
.wrapper-y {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.wrapper-x {
  padding-left: 5vw;
  padding-right: 5vw;
}


//position
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}


.left {
  left:0;
}

.right {
  right:0;
}

.top {
  top:0;
}

.bottom {
  bottom:0;
}