@import 'assets/scss/style';

.todo-column {
  background: rgba(0, 0, 0, 0.12);
  padding: $sm;
  height: 100%;
  min-height: 500px;
  border: 2px solid white;

  .todo-card {
    position: relative;
    margin: 8px 0;

    .close-btn{
      position: absolute;
      top:4px;
      right:4px;
      background:red;
      color:white;
      height:20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }

    .edit-btn{
      position: absolute;
      top:4px;
      right:28px;
      background:green;
      color:white;
      height:20px;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    .todo-title {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .todo-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 8; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }
}


.modal {
  .backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
  .content{
    animation: fade-in .3s ease-in;
  }
}


//animations
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }

}